@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Backoffice Portal - use tabs to access services.</p>

    <ul class="nav nav-tabs" id="serviceTabs" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="orders-tab" data-bs-toggle="tab" data-bs-target="#orders" type="button" role="tab">Orders</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="catalog-tab" data-bs-toggle="tab" data-bs-target="#catalog" type="button" role="tab">Catalog</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="notification-tab" data-bs-toggle="tab" data-bs-target="#notification" type="button" role="tab">Notification</button>
      </li>
    </ul>

    <div class="tab-content mt-3">
      <div class="tab-pane fade show active" id="orders" role="tabpanel">
        <p>
            <a id="btnLoadOrders" class="btn btn-sm btn-secondary" href="/Home/GetOrders" data-target="#ordersContent">Load Orders</a>
        </p>
        <div id="ordersContent"></div>

        <hr />
        <h5>Create Order</h5>
        <form id="orderForm">
            <div class="row g-2">
                <div class="col-md-4">
                    <input class="form-control" name="customerEmail" placeholder="Customer Email" />
                </div>
                <div class="col-md-3">
                    <input class="form-control" name="customerTelNumber" placeholder="Customer Phone" />
                </div>
                <div class="col-md-5 text-end">
                    <button id="btnAddItem" type="button" class="btn btn-sm btn-outline-primary">Add Item</button>
                    <button id="btnSubmitOrder" type="button" class="btn btn-sm btn-success">Submit Order</button>
                </div>
            </div>
            <div class="mt-3">
                <table class="table table-bordered table-sm" id="orderItemsTable">
                    <thead>
                        <tr>
                            <th style="width:55%">Product</th>
                            <th style="width:20%">Quantity</th>
                            <th style="width:15%"></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </form>
      </div>
      <div class="tab-pane fade" id="catalog" role="tabpanel">
        <p>
            <a id="btnLoadProducts" class="btn btn-sm btn-secondary" href="/Home/GetProducts" data-target="#catalogContent">Load Products</a>
        </p>
        <div id="catalogContent"></div>
      </div>
      <div class="tab-pane fade" id="notification" role="tabpanel">
        <p>
            <a id="btnLoadNotifications" class="btn btn-sm btn-secondary" href="/Home/GetNotifications" data-target="#notificationContent">Load Notifications</a>
        </p>
        <div id="notificationContent"></div>
      </div>
    </div>
</div>
